<div class='tease'>
  <p>
    Registration for <a href="https://opensourcecamp.de/" target="_blank" rel="noopener noreferrer">Foreman Open Source Camp</a> (November 7th) is open!
  </p>
  <p>
    CFP for <a href="https://cfp.cfgmgmtcamp.be/2020/" target="_blank" rel="noopener noreferrer">Config Management Camp</a> and <a href="https://cfp.cfgmgmtcamp.be/fosdem2020/cfp" target="_blank" rel="noopener noreferrer">FOSDEM Infra Management room</a> is open until November 3rd. CFP for <a href="https://www.devconf.info/cz/" target="_blank" rel="noopener noreferrer">Devconf.CZ</a> closes November 1st. Submit your talks today!
  </p>
</div>
