<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="homepage-primary-img">
              <h3 class="tagline hidden-phone">{{ site.tagline }}</h3>
              <img src="{{ site.baseurl }}static/images/foreman_large.png"/>
            </div>
            <div class="carousel-caption">
              {% include social.html %}
            </div>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}static/images/screenshots/dashboard.png" alt="">
            <div class="carousel-caption">
                <h4>The Foreman landing page and dashboard</h4>
                <p class='hidden-phone' >An instant view into the overall health of your hosts, including a sweeping overview of changes, run distribution, and quickly find hosts using search.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}static/images/screenshots/host_listing.png" alt="">
            <div class="carousel-caption">
                <h4>The host listing page</h4>
                <p class='hidden-phone' >Get a quick overview of your hosts, including their hostname, operating system, and most recent Puppet run.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}static/images/screenshots/hosteditpage.png" alt="">
            <div class="carousel-caption">
                <h4>Host edit page</h4>
                <p class='hidden-phone' >Manage the network, operating system, parameters, and other vital information relevant to a specific host.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}static/images/screenshots/reportview.png" alt="">
            <div class="carousel-caption">
                <h4>The report viewer page</h4>
                <p class='hidden-phone' >See the exact changes that took place as part of the most recent Puppet agent run on a specific host and view metrics about that run.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ site.baseurl }}static/images/screenshots/hostpage.png" alt="">
            <div class="carousel-caption">
                <h4>The individual host page</h4>
                <p class='hidden-phone' >View the status of a single host, including information about the machine, run time, and access to the console for direct access to the host.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
