<section class="features">
  <div class="container">
		<div class='row'>
			<div class='col-md-6'>
			  <div class='col-md-2'>
					<h1><i class="fa fa-tty"></i></h1>
			  </div>
			  <div class='col-md-10'>
					<h2>CLI</h2>
					<p>UIs slow you down? <a href="manuals/{{site.foreman_version}}/index.html#3.5.6CLI">Hammer CLI</a> gives you easy access to all the API calls you need to stay on top of your data center.</p>
			  </div>
			</div>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-terminal"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>API</h2>
					<p>We provide a RESTful API to give you the power to automate most tasks, such as registering hosts, assigning roles to users, and <a href="api/{{site.foreman_version}}/index.html">more.</a></p>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
        <div class='col-md-2'>
					<h1><i class="fa fa-user-plus"></i></h1>
				</div>
        <div class='col-md-10'>
					<h2>RBAC and LDAP integration</h2>
					<p>A thorough authorization system based on role based access control (RBAC) allows for tight policies for your Foreman users. If you use LDAP or FreeIPA, you can continue using them for authentication and authorization.</p>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-files-o"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Audits</h2>
					<p>No more wondering why did your load balancer suddenly become a database. Check how, who and when in our audits system.</p>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-plug"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Plugins</h2>
					<p>A pluggable architecture allows you to extend Foreman in almost any direction. Visit our <a href="/plugins">list of plugins</a> for a glimpse. </p>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='col-md-2'>
					<h1><i class="fa fa-server"></i></h1>
				</div>
				<div class='col-md-10'>
					<h2>Host groups</h2>
					<p>Horizontal scaling is an ubiquitous architecture in IT. Group your hosts and modify their configuration as if they were just one with Foreman.</p>
				</div>
			</div>
		</div>
	</div>
</section>
