<!doctype html>
<html itemscope itemtype="http://schema.org/Organization" lang="en">
  <head>
    <base href="{{ site.baseurl }}/">
    {% if page.sitename != nil %}
    {% assign sitename = page.sitename %}
    {% else %}
    {% assign sitename = site.sitename %}
    {% endif %}

    {% if page.pagename != nil %}
    {% assign pagename = true %}
    {% endif %}
  <title>{{ sitename }}{% if pagename %} :: {{ page.pagename }}{% endif %}</title>

  <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.tocify.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/static/js/scroll.js"></script>

  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/static/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/static/css/jquery.tocify.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/static/css/syntax.css" />
	<link rel="stylesheet" media="all" href="{{ site.baseurl }}/static/css/style.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
	<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% if page.redirect != nil %}
  <meta http-equiv="refresh" content="1; url={{ page.redirect }}" />
  {% endif %}
  {% feed_meta %}
</head>

<body>
 {% if page.url != "/index.html" %}
    <header id="page-header" style='padding: 0'>
	{% else %}
    <header id="page-header">
  {% endif %}
		<div class="container">
      {% if page.url != "/index.html" %}
		    <nav class="navbar navbar-default navbar-static-top" role="navigation">
	    {% else %}
		    <nav class="navbar navbar-default navbar-static-top navbar-index" role="navigation">
      {% endif %}
				<ul class="nav navbar-nav nav-justified">
          {% if page.url != "/index.html" %}
 						<li class='visible-xs'><a class='index-link' href="/">Home</a></li>
						<li class='hidden-xs'><a class='index-link' href="/">
							<i class="logo"><img style="width: 90px" src="/static/images/foremanhelmet.svg" alt="Foreman home"></i>
						</a></li>
          {% endif %}
					{% for link in site.navigation %}
			  		<li><a href="{{ site.baseurl}}/{{ link.url }}"> {{ link.text }} </a></li>
					{% endfor %}
					</li>
				</ul>
			</nav>
      {% if page.url == "/index.html" %}
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<a class="brand" href="/">
						<img class="brand-logo" src="/static/images/foremanhelmet.svg" alt="Foreman" />
						<span class="brand-name">
              <img src="/static/images/foremanwhite.png"/>
            </span>
					</a>
				</div>
			</div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p>Foreman is a complete lifecycle management tool for physical and virtual servers. We give system administrators the power to easily automate repetitive tasks, quickly deploy applications, and proactively manage servers, on-premise or in the cloud.</p>
        </div>
      </div>
			<div class='row'>
				<div class="source-buttons">
					<a href="/manuals/{{page.version}}/quickstart_guide.html" class="btn btn-primary">Get started</a>
					<a href="/introduction.html" class="btn btn-default">Learn more</a>
				</div>
			</div>
			<div class='row'>
				{% include version.html %}
			</div>
      {% endif %}
		</div>
  </header>
<script>
$(function(){
  $('.nav > li a[href="'+window.location.pathname+'"]').parents('.nav > li').addClass('active')
})
</script>
