<!doctype html>
<html itemscope itemtype="http://schema.org/Organization" lang="en">
  <head>
    <base href="{{ site.baseurl }}">
    {% if page.sitename != nil %}
    {% assign sitename = page.sitename %}
    {% else %}
    {% assign sitename = site.sitename %}
    {% endif %}

    {% if page.pagename != nil %}
    {% assign pagename = true %}
    {% endif %}
  <title>{{ sitename }}{% if pagename %} :: {{ page.pagename }}{% endif %}</title>

  <script type="text/javascript" src="{{ site.baseurl }}static/js/jquery.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/jquery.tocify.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/scroll.js"></script>

  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/bootstrap.min.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/jquery.tocify.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/syntax.css" />
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/style.css"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              {% if page.url != "/index.html" %}<img alt="Foreman" class="logo" src="{{ site.baseurl }}static/images/foreman.png" />{% endif %}<a class="brand" href="/">Foreman</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  {% for link in site.navigation %}
                  <li><a href="{{ site.baseurl}}{{ link.url }}"> {{ link.text }} </a></li>
                  {% endfor %}

                  <li class="dropdown">
                    <a class="dropdown-toggle" id="community" data-toggle="dropdown" href="#">
                      Community
                      <b class="caret"></b>
                    </a>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="community">
                       <li><a tabindex="-1" href="{{ site.baseurl }}contribute.html">Contribute</a></li>
                       <li><a tabindex="-1" href="{{ site.baseurl }}support.html">Support</a></li>
                       <li><a tabindex="-1" href="{{ site.baseurl }}outreachy.html">Outreachy</a></li>
                       <li><a tabindex="-1" href="{{ site.baseurl }}sponsors.html">Sponsors</a></li>
                    </ul>
                  </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" id="documentation" data-toggle="dropdown" href="#">
                      Documentation
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="documentation">
                      <li class="nav-header">Release notes</li>
                      <li><a href="{{ site.baseurl }}manuals/1.8/index.html#Releasenotesfor1.8">1.8 series</a></li>
                      <li><a href="{{ site.baseurl }}manuals/1.7/index.html#Releasenotesfor1.7">1.7 series</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Manuals</li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.8/index.html" style="font-weight: bold">1.8</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.7/index.html">1.7</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.6/index.html">1.6</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.5/index.html">1.5</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.4/index.html">1.4</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.3/index.html">1.3</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.2/index.html">1.2</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.1/index.html">1.1</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Plugins</li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}plugins/index.html">Manuals</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">API</li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}api_v2.html">v2</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}api.html">v1</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Security</li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}security.html">Security advisories</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}blog.html">
                    Blog
                    </a>
                  </li>
                  <li>
                  <a href="http://projects.theforeman.org/projects/foreman/wiki">
                    Wiki <img src="{{ site.baseurl }}static/images/external-link-icon.png" alt="">
                  </a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
<script>
$(function(){
  $('.nav > li a[href="'+window.location.pathname+'"]').parents('.nav > li').addClass('active')
})
</script>
