<!doctype html>
<html itemscope itemtype="http://schema.org/Organization" lang="en">
  <head>
    <base href="{{ site.baseurl }}">
    {% if page.sitename != nil %}
    {% assign sitename = page.sitename %}
    {% else %}
    {% assign sitename = site.sitename %}
    {% endif %}

    {% if page.pagename != nil %}
    {% assign pagename = true %}
    {% endif %}
  <title>{{ sitename }}{% if pagename %} :: {{ page.pagename }}{% endif %}</title>

  <script type="text/javascript" src="{{ site.baseurl }}static/js/jquery.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}static/js/jquery.tocify.min.js"></script>

  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/bootstrap.min.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/jquery.tocify.css"/>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/syntax.css" />
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}static/css/style.css"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              {% if page.url != "/index.html" %}<img alt="Foreman" class="logo" src="{{ site.baseurl }}static/images/foreman.png" />{% endif %}<a class="brand" href="/">Foreman</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="dropdown"> <!-- fix active -->
                    <a class="dropdown-toggle" id="dManual" data-toggle="dropdown" data-target="#" href="{{ site.baseurl}}manuals/1.2/index.html">
                      Manual
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dManual">
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.3/index.html" style="font-weight: bold">Stable: 1.3</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.2/index.html">1.2</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}manuals/1.1/index.html">1.1</a></li>
                    </ul>
                  </li>

                  {% for link in site.navigation %}
                  {% assign active = nil %}
                  {% if page.url == link.url or page.layout == link.layout %}
                  {% assign active = 'active' %}
                  {% endif %}
                  <li class="{{ active }}"><a href="{{ site.baseurl}}{{ link.url }}"> {{ link.text }} </a></li>
                  {% endfor %}


                  <li class="dropdown">
                    <a class="dropdown-toggle" id="dApi" role="button" data-toggle="dropdown" href="#">
                      API
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dApi">
                      <li><a tabindex="-1" href="{{ site.baseurl }}api.html" style="font-weight: bold">v1 (default)</a></li>
                      <li><a tabindex="-1" href="{{ site.baseurl }}api_v2.html">v2 (development)</a></li>
                    </ul>
                  </li>
                </ul>
                {% include releasesplash.html %}
              </div>
          </div>
      </div>
  </div>
