<p>Foreman 1.18.1 has been released! <a href="manuals/1.18/quickstart_guide.html"> Follow the quick start to install it.</a></p>
<p>Foreman 1.17.4 is now available with important bug fixes. <a href="manuals/1.17/quickstart_guide.html"> Follow the quick start to install it.</a></p>
<p>A new bug fix release for Foreman 1.16 is now available. This release contains critical fixes for VMWare, oVirt and the Puppet ENC. See the <a href="manuals/1.16/index.html#Releasenotesfor1.16.2">Foreman 1.16.2 release notes for more details.</a>.</p>
