<p>Foreman Community Newsletter - April 2014: the build-up to Foreman 1.5, Docker and Xen plugins, Ubuntu 14.04 packages and the latest sprint features. <a href="http://blog.theforeman.org/2014/05/foreman-community-newsletter-april-2014.html">Read the newsletter</a>.</p>
<hr />
<p>Foreman Community Newsletter - March 2014: a call for testing on Foreman 1.5, a new VM snapshot plugin, Foreman 1.4.2 and news on RDO integration. <a href="http://blog.theforeman.org/2014/03/foreman-community-newsletter-march-2014.html">Read the newsletter</a>.</p>
