<p>Foreman 1.7.0 has been released.  Highlights include bonded and virtual networking support, APIv2 enhancements, Puppet Smart Class enhancements, build review, and more. <a href="/manuals/1.7/index.html#Releasenotesfor1.7">Read the release notes here</a>.</p>
<hr />
<p>Foreman Community Newsletter - November 2014: the release of Foreman 1.7 and Discovery Image 2.0, Foreman Live CD Image Updates, and various other Foreman-related articles. <a href="http://blog.theforeman.org/2014/12/foreman-community-newsletter-november.html">Read the newsletter</a>.</p>
