<section class="screenshots">
	<div class="container">
		<div class='row'>
			<div class='col-md-4'>
				<a href="#"><img src='static/images/screenshots/dashboard.png' class='img-thumbnail'/></a>
			</div>
			<div class='col-md-4'>
				<h2>Provision from anywhere</h2>
				<p>Bare metal (MaaS), Amazon EC2, Google Compute Engine, OpenStack, Libvirt, oVirt, VMware, and many other providers allow you to manage a hybrid cloud through Foreman.</p>
			</div>
			<div class='col-md-4'>
				<a href="#"><img src='static/images/screenshots/facts_distribution.png' class='img-thumbnail'/></a>
			</div>
		</div>
		<hr /></a>
		<div class='row'>
			<div class='col-md-4'>
				<a href="#"><img src='static/images/screenshots/reports_applied.png' class='img-thumbnail'/></a>
			</div>
			<div class='col-md-4'>
				<h2>Configuration</h2>
				<p>An external node classifier, hiera-like parameters, and reports monitoring for Puppet and Salt are included. Completely ready to tweak host groups in your data center.</p>
			</div>
			<div class='col-md-4'>
			 	<a href="#"><img src='static/images/screenshots/puppetclasses.png' class='img-thumbnail'/></a>
			</div>
		</div>
		<hr /></a>
   	<div class='row'>
			<div class='col-md-4'>
				<a href="#"><img src='static/images/screenshots/hostpage.png' class='img-thumbnail'/></a>
			</div>
			<div class='col-md-4'>
				<h2>Monitor hosts</h2>
				<p>Foreman reports will tell you exactly what happened in your nodes, and alert you when things go awry. See in your dashboard which hosts are healthy, and which ones are outdated.</p>
			</div>
			<div class='col-md-4'>
				<a href="#"><img src='static/images/screenshots/statistics.png' class='img-thumbnail'/></a>
			</div>
		</div>
	</div>
 	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>

<script>
$(document).ready(function(){
		$('.img-thumbnail').on('click',function(){
				var src = $(this).attr('src');
				var img = '<img src="' + src + '" class="img-responsive"/>';
				$('#myModal').modal();
				$('#myModal').on('shown.bs.modal', function(){
						$('#myModal .modal-body').html(img);
						});
				$('#myModal').on('hidden.bs.modal', function(){
						$('#myModal .modal-body').html('');
						});
        return false;
				});
		})
</script>
