  <ul class="social-buttons">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=theforeman&repo=foreman&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=theforeman&repo=foreman&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
    </li>
    <li>
      <div class="version-marker">
        <p>Current Version: 1.7.0-RC1 / 1.6.2</p>
      </div>
    </li>
  </ul>
