html { height: 100%; overflow: auto;}
body { height: 100%;  }
#wrap { min-height: 100%; }
#main {padding-bottom: 38px; padding-top:60px; }

th.underlined {
  text-decoration: underline
}

.half {
	width: 44%;
}

.logo {
  display: block;
  margin-bottom: -55px;
  padding-top: 10px;
}

.brand {
  position: relative;
  z-index: 100;
}

body > .navbar .brand {
    margin-left: 45px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

/* text align left */
.la { text-align: left; }
/* text align right */
.ra { text-align: right; }
/* text align center */
.ca { text-align: center; }
/* float  right */
.fr { float: right; }
/* float left */
.fl { float: left; }

.gray{
    color:#808080 !important;
}

.stats-grid{
    float:left;margin:0 0 20px 20px;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}

.subnav {
height: 36px;
background-color: #EEE;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whiteSmoke), color-stop(100%, #EEE));
background-image: -webkit-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -ms-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -o-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
background-image: linear-gradient(top, whiteSmoke 0%, #EEE 100%);
border: 1px solid #E5E5E5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.subnav ul { margin-top: 7px;margin-bottom: 0;}
.subnav ul li { list-style-type: none; margin: 0; display: inline-block;}
.subnav ul a { display: inline-block; padding: 2px 8px; font-size: 11px;
  font-weight: bold; text-decoration: none; color: #666;border: 1px solid transparent;
  border-radius: 10px;
}

/* Website specific bootstrap customizations */
#content .hero-unit {
  padding: 30px;
  overflow: auto;
}

p.tagline {
  font-weight: bold;
}

.hero-unit img {
  margin-bottom: 20px;
  float: right;
}

#content h1 {
  padding-top: 30px;
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #EEE;
}

#content h2 {
  padding-top: 25px;
  padding-bottom: 9px;
  margin: 20px 0 8px;
  border-bottom: 1px solid #EEE;
}
#content h3 {
  padding-top: 8px;
  padding-bottom: 9px;
  margin: 0 0 10px;
}

.homepage-img {
  display: block;
  margin: 0 auto 30px;
  max-height: 145px;
}

.homepage-primary-img{
  display: block;
  margin: 0 auto 30px;
  max-height: 200px;
}

.center{
  text-align: center;
}

.footer{
  font-size: 11px;
  color: #888;
}
.footer a {
  color: #6AF;
}
