---
pagename: Foreman Blog
layout: post_index
---

{% for post in paginator.posts %}
  <div class="blog-item">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="metadata">
      <span class="author">{{ post.author }}</span> - <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
    </p>
    <div class="bold-headings">
      {{ post.excerpt }}
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
<nav>
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Previous</a>
      </li>
    {% else %}
      <li class="previous disabled">
        <span><span aria-hidden="true">&larr;</span> Previous</span>
      </li>
    {% endif %}
    <li class="metadata">
      page {{ paginator.page }} of {{ paginator.total_pages }}
    </li>
    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path }}">Next <span aria-hidden="true">&rarr;</span></a>
      </li>
    {% else %}
      <li class="next disabled">
        <span>Next <span aria-hidden="true">&rarr;</span></span>
      </li>
    {% endif %}
  </ul>
</nav>

