---
pagename: Community Demos
---


{% include header.html %}
<div id="wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="toc" class="sidebar-nav-fixed pull-right hidden-xs hidden-sm" data-spy="affix" data-offset-top="60" data-offset-bottom="300">
				</div>
			</div>
			<div id="doc" class="col-md-9">
				{{ content }}
			</div>
		</div>
	</div>
</div>
{% include footer.html %}
<script type="text/javascript">
	$(function() {
		var demoFilter = $('<input placeholder="Filter..." class="form-control" style="margin-top: 20px; width: 70%;">')[0]
		$("#doc")[0].insertBefore(demoFilter, $("#user-focused-demos---foreman")[0]);

		$(demoFilter).keyup(function () {
			var filter = $(this).val();
			function filterElements() {
				var elem = $(this)
				elem.text().search(new RegExp(filter, "i")) < 0 ? elem.hide() : elem.show();
			}
			$("#doc ul li").each(filterElements)
			$("#doc h3 a").each(filterElements);
		});
		//Calls the tocify method on your HTML div.
		$("#toc").tocify({context: '#doc', scrollTo: '60', selectors: "h2"});
	});
</script>
