{% include header.html %}

  <div id="main">
    <div id="content" class="container">
      <div class="hero-unit">
	<p class="tagline">{{ site.tagline }}</p>
	<img src="{{ site.baseurl }}static/images/foreman_large.png" class="homepage-primary-img"/>
	<p>
	  {{ site.description }}
        </p>
        <a class="btn btn-primary btn-large" href="manuals/1.3/quickstart_guide.html">Get started >> </a>
      </div>
      <div class="hero-unit">
        <img src="{{ site.baseurl }}static/images/cfgmgmtcamp.png" style="padding-left: 20px"/>
        <p>Join us at <a href="http://cfgmgmtcamp.eu/">CfgMgmtCamp.eu</a> on 3-4th Feb 2014 in the dedicated Foreman track.  <a href="http://cfgmgmtcamp.eu/#registration">Free registration</a> is currently open. Read <a href="https://groups.google.com/forum/#!topic/foreman-users/LLGUcIP5I9E">the announcement</a>.</p>
      </div>
      <div class="row-fluid center">
        <div class="span4">
          {% include provisioning.html %}
        </div>

        <div class="span4">
          {% include configuration.html %}
        </div>

        <div class="span4">
          {% include monitoring.html %}
        </div>

      </div>
    </div>
  </div>

{% include footer.html %}
