{% include header.html %}
{% include screenshots.html %}
{% include features.html %}
<section id="home" data-type="background" style="background-position: 50% 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{% include provisioning.html %}
			</div>
			<div class="col-md-4">
				{% include configuration.html %}
			</div>
			<div class="col-md-4">
				{% include monitoring.html %}
			</div>
		</div>
		<hr />
		<div class='row center'>
			<div class="source-buttons">
 				<a href="/manuals/{{site.foreman_version}}/quickstart_guide.html" class="btn btn-primary">Get started</a>
		 		<a href="/introduction.html" class="btn btn-default">Learn more</a>
		  </div>
		</div>
	</div>
</section>

{% include footer.html %}
