{% include header.html %}

  <div id="main">
    <div id="content" class="container">
      <div class="hero-unit">
	<p class="tagline">{{ site.tagline }}</p>
	<img src="{{ site.baseurl }}static/images/foreman_large.png" class="homepage-primary-img"/>
	<p>
	  {{ site.description }}
        </p>
        <a class="btn btn-primary btn-large" href="manuals/1.2/quickstart_guide.html">Get started >> </a>
      </div>
      <div class="row-fluid center">
        <div class="span4">
          {% include provisioning.html %}
        </div>

        <div class="span4">
          {% include configuration.html %}
        </div>

        <div class="span4">
          {% include monitoring.html %}
        </div>

      </div>
    </div>
  </div>

{% include footer.html %}
