---
pagename: learn_more
---
{% include header.html %}
<div id="wrap">
  <div id="main">
    <div id="content" class="container">
      <div id="doc" class="offset2 span8">
        {{ content  }}
        <div>
          <iframe width="650" height="400" link="/slides/foreman-intro.html" frameBorder="0"></iframe>
        </div>
        <a href="media.html">Continue ...</a>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}

<script type="text/javascript">
// AJAX load Iframe
$(function() {
  $('iframe').attr('src', '');
  $('iframe').each(function(i){
    $(this).attr('src', $(this).attr('link'))
  });
});
</script>

