---
pagename: learn_more
---
{% include header.html %}
<div id="wrap">
  <div id="main">
    <div id="content" class="container">
      <div class="offset3 span6">
        {{ content  }}
        <div>
          <iframe width="550" height="400" link="http://prezi.com/embed/btaqhly8_rx7/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0" frameBorder="0"></iframe>
        </div>
        <a href="media.html">Continue ...</a>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}

<script type="text/javascript">
// AJAX load Iframe
$(function() {
  $('iframe').attr('src', '');
  $('iframe').each(function(i){
    $(this).attr('src', $(this).attr('link'))
  });
});
</script>

