---
pagename: Manual
version_selector_target: "index"
---
{% include header.html %}
<div id="wrap">
	<div class="container">
	  <div class="row">
			<div class="col-md-3">
				<div id="toc" class="sidebar-nav-fixed pull-right hidden-sm hidden-xs" data-spy="affix" data-offset-top="60" data-offset-bottom="300">
					{% capture versionmaj %}{{ page.version | split: "." | first | times: 100 }}{% endcapture %}
					{% capture versioni %}{{ page.version | split: "." | last | plus: versionmaj }}{% endcapture %}
					{% capture latestmaj %}{{ site.foreman_version | split: "." | first | times: 100 }}{% endcapture %}
					{% capture latesti %}{{ site.foreman_version | split: "." | last | plus: latestmaj }}{% endcapture %}
					{% if page.version == "nightly" %}
					<div class="alert alert-warning">
						<p style="margin-bottom: 3px"><strong>Not yet released</strong></p>
						<p style="margin-bottom: 0">This manual is for Foreman {{ page.version }}, but <a href="{{ site.baseurl }}manuals/{{ site.foreman_version }}/index.html">{{ site.foreman_version }}</a> is the current stable version.</p>
					</div>
					{% elsif versioni < latesti %}
					<div class="alert alert-warning">
						<p style="margin-bottom: 3px"><strong>Newer version available</strong></p>
						<p style="margin-bottom: 0">This manual is for Foreman {{ page.version }}, but the <a href="{{ site.baseurl }}manuals/{{ site.foreman_version }}/index.html">latest version is {{ site.foreman_version }}</a>.</p>
					</div>
					{% elsif versioni > latesti and versionmaj >= latestmaj %}
					<div class="alert alert-warning">
						<p style="margin-bottom: 3px"><strong>Release Candidate(RC) version</strong></p>
						<p style="margin-bottom: 0">This manual is for Foreman {{ page.version }}, but <a href="{{ site.baseurl }}manuals/{{ site.foreman_version }}/index.html">{{ site.foreman_version }}</a> is the current stable version.</p>
					</div>
					{% endif %}
				</div>
			</div>
			<div id="doc" class="col-md-9">
				{% include version_selector.html %}
				{{ content }}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(function() {
    //Calls the tocify method on your HTML div.
    $("#toc").tocify({context: '#doc', scrollTo: '60', selectors: "h1,h2,h3"});
  });
</script>
{% include footer.html %}
