{% include header.html %}

<body>
  <div id="main">
    <div id="content" class="container">
      <div class="row">
        <div id="toc" class="span3">
        </div>
        <div id="doc" class="offset4 span8">
          {% capture manual_content %}
          {% endcapture %}
          {{ content  }}
        </div>
      </div>
    </div>
  </div>
</body>
 <script type="text/javascript">
$(function() {
//Calls the tocify method on your HTML div.
$("#toc").tocify({context: '#doc'});
});
</script>

{% include footer.html %}