---
pagename: Media
---
{% include header.html %}
<div id="wrap">
	<div class="container">
		<div class="col-md-3 hidden-xs hidden-sm">
			<div id="toc" class="sidebar-nav-fixed pull-right" data-spy="affix" data-offset-top="60" data-offset-bottom="300">
			</div>
		</div>
		<div id="doc" class="col-md-9">
			<div id='case_studies'>
				<h1>Case studies</h1>
				<iframe width="640" height="360"
					src="https://www.youtube.com/embed/videoseries?list=PLLTIBSsvp9qRcL6yCQqmdMJSRSYNI9DbK"
					frameborder="0" allowfullscreen>
				</iframe>
			</div>

			<div id="tips">
  		</div>

			<div id="talks">
  		</div>
			<div id="screencasts">
  		</div>
			<div id="deepdives">
			</div>
			<div id="demos">
			</div>
			<div id="presentations">
				<h1>Introductory presentations</h1>
				<iframe width="650" height="400" src="//www.slideshare.net/slideshow/embed_code/key/t6BM0vxUBf0RG" frameBorder="0"></iframe>
                                <ul>
                                        <li><a href="/static/presentations/goebel_slides_foreman_intro_eng_no_video.pdf">Lifecycle-Management with The Foreman - An Introduction</a> (Timo Goebel)</li>
                                </ul>
				<h1>Other presentations</h1>
				<ul>
					<li><a href="http://www.slideshare.net/roidelapluie/lifecycle-managementforeman">Lifecycle Management with Foreman</a> (Julien Pivotto)</li>
					<li><a href="http://www.slideshare.net/inovex/deploying-foreman-in-enterprise-environments">Deploying Foreman in Enterprise Environments: best practices and lessons learned</a> (Nils Domrose)</li>
					<li><a href="http://www.slideshare.net/domcleal/cfgmgmt-2014-hooks">Extending Foreman the easy way with foreman_hooks</a> (Dominic Cleal)</li>
					<li><a href="http://www.slideshare.net/domcleal/cfgmgmt-2014-rdo">Deploying RDO OpenStack with a pair of plugins</a> (Dominic Cleal)</li>
					<li><a href="http://www.slideshare.net/domcleal/cfgmgmt-2014-contribute">Making your first contribution to Foreman</a> (Dominic Cleal)</li>
					<li><a href="/static/presentations/cfgmgmt_2014_dcaro_automated_provisioning.pdf">Automated Provisioning</a> (David Caro)</li>
					<li><a href="/static/presentations/cfgmgmt_2014_inecas_katello.pdf">Katello: your hosts are what they eat</a> (Ivan Necas)</li>
					<li><a href="http://ares.github.io/presentations/foreman_chef/presentation.html#slide1">Chef integration</a> (Marek Hul&aacute;n)</li>
					<li><a href="http://ares.github.io/presentations/kafo/presentation.html#slide1">Kafo - the framework for creating shiny installers based on Puppet</a> (Marek Hul&aacute;n)</li>
					<li><a href="https://docs.google.com/presentation/d/1nDUmWj_L6Fl6JneHVWq6s8C3UzWD32Rs_scPEqHZHuk/edit?usp=sharing">Build your own image: Foreman discovery plugin</a> (Lukas Zapletal)</li>
					<li><a href="/static/presentations/evgeni_golov-mass-migration_of_5000_servers_to_foreman_katello_with_bootstrap.pdf">Mass-Migration of 5000 Servers to Foreman/Katello with bootstrap.py</a> (Evgeni Golov)</li>
					<li><a href="/static/presentations/Evgeni_Golov-Katello_and_Ansible_for_automated_testing_and_releasing_of_packages.pdf">Katello and Ansible for automated testing and releasing of packages</a> (Evgeni Golov) (<a href="/static/presentations/Evgeni_Golov-Katello_and_Ansible_for_automated_testing_and_releasing_of_packages-v2.pdf">second version of the slides</a>)</li>
					<li><a href="/static/presentations/Evgeni_Golov-cURL_is_not_an_API_client.pdf">cURL is not an API client</a> (Evgeni Golov)</li>
					<li><a href="/static/presentations/Evgeni_Golov-Writing_Ansible_modules_for_Foreman_and_Katello.pdf">Writing Ansible modules for Foreman and Katello</a> (Evgeni Golov)</li>
					<li><a href="/static/presentations/Evgeni_Golov-Developing_Ansible_modules_for_Foreman_and_Katello.pdf">Developing Ansible modules for Foreman and Katello</a> (Evgeni Golov)</li>
					<li><a href="/static/presentations/Evgeni_Golov-Maintaining_over_40_Ansible_modules_4_years_later.pdf">Maintaining over 40 Ansible modules: 4 years later</a> (Evgeni Golov)</li>
					<li><a href="/static/presentations/Evgeni_Golov-your_management_layer_should_be_cattle_too.pdf">your management layer should be cattle too</a> (Evgeni Golov)</li>
					<li><a href="/static/presentations/Evgeni_Golov-Migrating_Foreman_from_EL7_to_EL8_using_LEAPP_ELevate.pdf">Migrating Foreman/Katello from EL7 to EL8 using LEAPP/ELevate</a> (Evgeni Golov)</li>
				</ul>
				<h3>German</h3>
				<ul>
					<li><a href="http://chemnitzer.linux-tage.de/2014/en/vortraege/detail/227">Systemmanagement mit Puppet und Foreman @ Chemnitzer Linuxtage 2014</a> (Mattias Giese)</li>
					<li><a href="https://www.netways.de/webinare/webinare_aktuell/foreman_provisionierungswege/">Foreman: Provisionierungswege - Netways Webinar</a> (Christian Stein &amp; Dirk G&ouml;tz)</li>
					<li><a href="https://www.netways.de/webinare/archiv/foreman_webinare/foreman_klassen_und_parametrisierung_in_puppet/">Foreman: Klassen und Parametrisierung in Puppet - Netways Webinar</a> (Christian Stein &amp; Dirk G&ouml;tz)</li>
					<li><a href="https://www.netways.de/webinare/archiv/foreman_webinare/foreman_docker_integration/">Foreman: Docker Integration - Netways Webinar</a> (Christian Stein &amp; Dirk G&ouml;tz)</li>
					<li><a href="/static/presentations/Evgeni_Golov-Foreman_und_Katello_mit_Ansible_automatisieren.pdf">Foreman und Katello mit Ansible automatisieren</a> (Evgeni Golov)</li>
				</ul>
			</div>
			<div id="articles">
				<h1>Articles</h1>
				<h3>Czech</h3>
				<ul>
					<li><a href="http://www.systemonline.cz/sprava-it/foreman-automatizuje-spravu-it.htm">Klíčem k úspěšné správě IT infrastruktury je automatizace</a> (Lukáš Zapletal)</li>
				</ul>
				<h3>English</h3>
				<ul>
					<li><a href="http://100things.wzzrd.com/2017/03/30/Connecting-Satellite-6-and-Ansible-Tower.html">Connecting Satellite 6 and Ansible Tower</a> (Maxim Burgerhout)</li>
					<li><a href="http://blog.daniellobato.me/coreos-cluster-deployments-with-foreman/">CoreOS cluster deployments with Foreman</a> (Daniel Lobato)</li>
					<li><a href="http://blog.daniellobato.me/unattended-deployments-of-fedora-and-rhel-atomic-with-foreman/">Unattended Atomic deployments with Foreman</a> (Daniel Lobato)</li>
					<li><a href="https://blog.codecentric.de/en/2014/04/hadoop-cluster-provisioning/">Automatic Provisioning of a Hadoop Cluster on Bare Metal with The Foreman and Puppet</a> (Malte Nottmeyer)</li>
					<li><a href="https://www.digitalocean.com/community/tutorials/how-to-use-foreman-to-manage-puppet-nodes-on-ubuntu-14-04">How To Use Foreman To Manage Puppet Nodes on Ubuntu 14.04</a> (Mitchell Anicas)</li>
					<li><a href="http://deviantony.wordpress.com/2014/06/21/setup-a-scalable-puppet-environment-with-foreman-on-ubuntu-12-04/">A scalable Foreman & Puppet architecture on Ubuntu 12.04</a> (Anthony Lapenna)</li>
					<li><a href="http://lukas.zapletalovi.com/2014/09/efi-in-qemu-kvm-on-fedora-20.html">EFI through PXELinux in Foreman</a> (Lukáš Zapletal)</li>
					<li><a href="http://www.puppetblog.nl/installation/the-foreman-windows-deployment/">Foreman and Windows deployment</a> (Hendricus Kramer)</li>
					<li><a href="http://www.ivoverberk.nl/docker-tutorial-puppet-and-the-foreman/">Puppet, Foreman, and PuppetDB dockerized</a> (Ivo Verberk)</li>
					<li><a href="https://blog.inovex.de/foreman-provision-a-comfortable-resource-management-tool-for-foreman/">Foreman Provision: A Comfortable Resource Management Tool for Foreman</a> (Arnold Bechtoldt)</li>
					<li><a href="https://blog.inovex.de/deploying-windows-server-with-foreman-in-vsphere/">Deploying Windows Server with Foreman in vSphere</a> (Arnold Bechtoldt)</li>
				</ul>
				<h3>German</h3>
				<ul>
					<li><a href="https://www.heise.de/artikel-archiv/ix/2013/12/072_Ordnung-auf-der-Baustelle">Ordnung auf der Baustelle - Komfortable Systemverwaltung mit Foreman und Puppet / iX 12/2013</a> (Mattias Giese)</li>
					<li><a href="http://www.linux-magazin.de/Ausgaben/2015/03/Foreman">Ordnung im Systemdschungel mit Foreman</a> (Konstantin Agouros)</li>
				</ul>
				<h3>Spanish</h3>
				<ul>
					<li><a href="http://blog.sotoca.es/2014/08/agilizando-la-infraestructura-iv.html">Agilizando la infrastructura IV: Trabajando con oVirt</a> (Julián García-Sotoca)</li>
					<li><a href="http://blog.sotoca.es/2014/07/agilizando-la-infraestructura-ii.html">Agilizando la infrastructura II: Despliegue de sistemas con Foreman</a> (Julián García-Sotoca)</li>
					<li><a href="http://blog.sotoca.es/2014/07/agilizando-la-infraestructura-i_13.html">Agilizando la infrastructura I: Provisioning</a> (Julián García-Sotoca)</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
		//Calls the tocify method on your HTML div.
		$("#toc").tocify({context: '#doc', scrollTo: '60', selectors: "h1,h4"});
		});

// videos_list comes as an array of hashes with keys id, title, author. This function
// creates a 2 column layout, 2 rows, being the first videos the first positions
// of the array
function createVideosLayout(title, selector, videos_list) {
  	var html_result = '<h1>' + title + '</h1>';
		var counter = 0.0;
		videos_list.forEach(function(video) {
				if (counter%2 == 0) html_result += '<div class="row">';
				html_result += '<div class="col-md-6">';
        if (video['html']) {
				    html_result += video['html'];
				} else {
						html_result += '<div class="video youtube" data-video-id="' + video['id'] + '"></div>';
						html_result += '<h4><strong>' + video['title']  + '</strong>';
						if (video['author']) html_result += ' - ' + video['author'];
						html_result += '</h4>'
						if (video['description']) html_result += '<p>' + video['description'] + '</p>';
				}
        html_result += '</div>';
				if (counter%2 != 0) html_result += '</div>';
				if (counter%2 != 0) html_result += '<hr />';
				counter++;
		});
		$(selector).html(html_result);
};

var tips = [
  { id: "RkCKG-sruKc", title: "The EASIEST Git workflow guide you'll ever watch", author: "Waldirio M Pinheiro" },
  { id: "rtTw6xqFtIE", title: "Setting Up the Foreman and Katello Development Environment: A Step-by-Step Guide", author: "Waldirio M Pinheiro" },
  { id: "SS0vvQFygvM", title: "How to Set Up VScode Icons Extension (2024)", author: "Waldirio M Pinheiro" },
  { id: "Dyjy85MfFOo", title: "Setting Up The Best VIM Extension for VScode (2024)", author: "Waldirio M Pinheiro" },
  { id: "LZbi9YwkQ-0", title: "How to Set Up Trailing Spaces Extension in VS Code", author: "Waldirio M Pinheiro" },
  { id: "b-T14EKqSvI", title: "Setting up Remote SSH in VScode is *really* this easy", author: "Waldirio M Pinheiro" },
  { id: "V5hVEr6Nt8Q", title: " How to Use Git via VSCode Like a Pro! ", author: "Waldirio M Pinheiro" }
];
createVideosLayout('Tips', 'div#tips', tips);

var talks = [
	{ html: '<video width="397.5" src="https://video.fosdem.org/2022/D.infra/foreman_katello_leapp_elevate.webm" controls></video><h4><strong>FOSDEM2022: Migrating Foreman/Katello from EL7 to EL8 using LEAPP/ELevate</strong> - Evgeni Golov</h4>' },
	{ html: '<video width="397.5" src="https://video.fosdem.org/2021/D.infra/yourmanagementlayershouldbecattletoo.webm" controls></video><h4><strong>FOSDEM2021: your management layer should be cattle too</strong> - Evgeni Golov</h4>' },
	{ id: "1Flc7ubAkEo", title: "CfgMgmtCamp 2020: Maintaining over 40 Ansible modules: 4 years later", author: "Evgeni Golov" },
	{ id: "XvuSFC5-HKk", title: "FrOSCon 2019 - Foreman/Katello mit Ansible automatisieren (German)", author: "Evgeni Golov", description: '<a href="https://media.ccc.de/v/froscon2019-2418-foreman_katello_mit_ansible_automatisieren">original video on media.ccc.de</a>' },
	{ id: "OGlsTDGhOH0", title: "OSAD 2018 - Automatatisches Testen &amp; Releasen von Softwarepaketen mit Katello und Ansible (German)", author: "Evgeni Golov" },
	{ id: "RhO4ZHc323M", title: "OSDC 2017 Foreman - An extensible lifecycle management for servers", author: "Dirk G&ouml;tz" },
	{ id: "qfJxitjTEn0", title: "LinuxDays 2015 Foreman in your data center (Czech)", author: "Lukas Zapletal" },
	{ id: "wSpPjUPIEVU", title: "OSDC 2015 Foreman in your data center", author: "Stephen Benjamin" },
	{ id: "Qo3Bkm7dqlU", title: "PuppetCamp 2015: Selling management and developers on Puppet", author: "David Patterson"},
	{ id: "F-SyKv9KKmU", title: "Foreman &amp; Katello: Automating the infrastructure thing", author: "Ivan Nečas" },
	{ id: "oqXa6duSVrw", title: "Provision and manage Docker containers with Foreman", author: "Daniel Lobato Garcia" },
	{ id: "IQlvF8hZPRc", title: "Foreman &amp; Katello demo &amp; overview", author: "Ohad Levy, Dominic Cleal, Justin Sherrill" },
	{ id: "U4AyAsN-ZpU", title: "How to keep track of Puppet with Foreman", author: "Glen Ogilvie" },
	{ html: '<video width="397.5" src="https://video.fosdem.org/2014/UD2120_Chavanne/Saturday/Foreman_Project.webm" controls></video><h4><strong>FOSDEM 2014</strong> - Ohad Levy</h4>' },
	{ id: "koIF5dOHVbM", title: "NYLUG Provisioning &amp; Managing bare metal, VMs &amp; cloud instances with Foreman", author: "Sam Kottler" },
	{ id: "uGevzbQ469w", title: "Puppet Camp Ghent 2013", author: "Ohad Levy" },
	{ id: "AeVVezzZ-4w", title: "Puppet Conf 2012", author: "Ohad Levy" },
	{ id: "o5BjZodH9Fo", title: "Puppet NYC 2013", author: "Sam Kottler" },
	{ id: "oCndVJmCy9Q", title: "CentOS Dojo 2013", author: "Dominic Cleal" },
	{ id: "gozX891kYAY", title: "Integrating oVirt and Foreman", author: "Yaniv Bronhaim" },
	{ html: '<video width="397.5" src="https://video.fosdem.org/2014/H1309_Van_Rijn/Saturday/Foreman_integration_with_Chef_and_others.webm" controls></video><h4><strong>Chef integration</strong> - Marek Hul&aacute;n</h4>' },
	{ html: '<video width="397.5" src="https://video.fosdem.org/2013/lightningtalks/Managing_your_metal_flexibly.webm" controls></video><h4><strong>Hardware Discovery</strong> - Greg Sutcliffe</h4>' },
	{ id: "7YYyAKb-rv0", title: "Build your own image: Foreman discovery plugin", author: "Lukas Zapletal" },
	{ id: "mtR0mCeisbs", title: "Chef integration", author: "Dominic Cleal" },
	{ id: "nb8jB5x0OX4", title: "Deploying FreeBSD systems with Foreman and mfsBSD", author: "Martin Matuška" }
];
createVideosLayout('Talks', 'div#talks', talks);

var screencasts = [
 { id: "2dwyzPpFJYQ", title: "Quickstart Installation", author: "Dominic Cleal" },
 { id: "eHjpZr3GB6s", title: "Quickstart Provisioning", author: "Dominic Cleal" },
 { id: "aB0Ek-aKmZw", title: "Locations and Organizations", author: "Sam Kottler" },
 { id: "Ksr0tilbmcc", title: "Parameterized Classes", author: "Greg Sutcliffe" },
 { id: "DhghHJ_9h1U", title: "OpenStack integration", author: "Dizz" },
 { id: "FYsHZbCQzH8", title: "Provisioning a web-server", author: "Romain Vrignaud " },
 { id: "e_ojgjDad4E", title: "Automatización en entornos TI: Puppet + Foreman", author: "Antonio Xanxess (Spanish)" }
];
createVideosLayout('Screencasts', 'div#screencasts', screencasts);

var deep_dives = [
	{ id: "jKZppAuz6kQ", title: "PXE-less Discovery workflow" },
	{ id: "ggn85eNeqSQ", title: "Introduction to Katello" },
	{ id: "gSEw6w2wem8", title: "Next-gen software collections (packaging)" },
	{ id: "e-LBOc7laAA", title: "Docker image build service" },
	{ id: "Xevqb-_ZR_E", title: "foreman-pipeline plugin" },
	{ id: "CFPLGfA6-jU", title: "Multi-host deployments and orchestration" },
	{ id: "xmYmMQONq_0", title: "Networking unification" },
	{ id: "b3DMmFymGz0", title: "Salt integration plugins" },
	{ id: "r6dQyJ0xgq8", title: "ABRT plugins" },
	{ id: "Z75Z670WqZs", title: "Smart class parameter overrides" },
	{ id: "h1aQxU-UdMo", title: "Staypuft, deploying OpenStack using Foreman" },
	{ id: "y5YujkhqWcE", title: "Discussion about 1.5 user interface" },
	{ id: "zHa5eqT4E2U", title: "Smart proxy modularization" },
	{ id: "cLc27ANEZ_Q", title: "CLI unified name searches" },
	{ id: "gbHxt9W-Bh4", title: "Dynamically generated CLI" },
	{ id: "fXKgEvoAQpg", title: "Rewriting orchestration to Dynflow" },
	{ id: "_9DEKT5Irmc", title: "Organizations and locations inheritance" },
	{ id: "drBY8Z1CcKs", title: "Dynflow executors (part 2 of 2)" },
	{ id: "5dprXA7gbSI", title: "Dynflow tools and concepts (part 1 of 2)" },
	{ id: "YNuQsTAdGds", title: "Building OpenStack images from host groups" },
	{ id: "vMMoBTG9Zfg", title: "Remote management with MCollective" },
	{ id: "cpUz5Ylhkr0", title: "Katello tasks via Dynaflow" },
	{ id: "2KP_qUVIv2c", title: "Katello and Foreman permissions systems" },
	{ id: "OCSxgzG4brE", title: "Discussion: System vs. Host naming convention" },
	{ id: "cXQijuz6gtI", title: "Plugin registration and menus" },
	{ id: "V8TugleqF64", title: "oVirt Node plugin for Discovery" },
	{ id: "uW5AbjJFGkY", title: "OpenStack provisioning plugins" },
	{ id: "frSpqL9p3xk", title: "Kafo-based installer" },
	{ id: "CWR7rmp9O6A", title: "Removing Puppet from core" },
	{ id: "coeFR_KnXgM", title: "CLI implementation" },
	{ id: "z2gUH_HmvWM", title: "Packaging and Software Collections" },
	{ id: "_9UrBLhsoEA", title: "Discovery plugin demo" },
	{ id: "azZOg_ywjTE", title: "Internationalization (i18n) and gettext" },
	{ id: "5C2VrnZTU4s", title: "Development environments" },
	{ id: "azZOg_ywjTE", title: "Internationalization (i18n) and gettext" },
	{ id: "5C2VrnZTU4s", title: "Development environments" },
	{ id: "0ZlPJE2ocKo", title: "Introduction to Scrum" },
	{ id: "u5-u_75i1cM", title: "Apipie: API documentation" },
	{ id: "7VU1A-yn54E", title: "Testing Foreman", description: 'Covers unit, functional, integration, Capybara integration tests, proxy tests and <a href="http://ci.theforeman.org">Jenkins</a>.' },
	{ id: "mKWw349rQwE", title: "Pull requests: Trello and Jenkins" },
	{ id: "HQhlCiyv8Uw", title: "Project infrastructure discussion" },
	{ id: "yO2quNzmvuY", title: "MCollective and Puppet 3 data bindings" },
	{ id: "g5hvddwT1os", title: "Organizations and Locations implementation" },
	{ id: "dlgv_4rr4Ws", title: "Parameterized Class support" },
	{ id: "CmKoEHCYROQ", title: "Jenkins and Packaging" }
];
createVideosLayout('Deep dives', 'div#deepdives', deep_dives);

var community_demos = [
{ id: "QWA56wYeSrM", title: "Sprint 31", description: "Covers provisioning template serving via smart proxy, new UI for network interfaces, networking information in ENC output, rule based auto provisioning of discovered hosts, Hammer CLI commands for discovery. After the Foreman part, new Katello features are presented." },
{ id: "zkk4ZEZWvr0", title: "Sprint 30", description: "Covers Puppet run wait, Discovery image 2.0, Ubuntu 12.04 with Brightbox, Docker image name autocomplete, Docker wizard, console and management, Hammer CI tests, refined API for NICs, mail notifications, password strength meter, DHCP browser plugin, CLI lazy credentials, secure headers overview." },
{ id: "D-gsgp1IDfA", title: "Sprint 29", description: "Covers UEFI+QEMU booting, bonded interfaces, test fixtures, friendly_id gem, foreman_host_rundeck plugin, Puppet Server installer support, smart variables and LDAP auth source in Hammer, hammer host ssh command, graphite plugin and build status review." },
{ id: "yCCViaCaQRo", title: "Sprint 28", description: "Covers improved multi-NIC support, host group reparenting, Debian plugin package changes, SHA-2 password hashing, CLI smart class parameter overrides, required form fields, search auto-complete, images API and EL7-based Discovery images." },
{ id: "S-8PESGbOUk", title: "Sprint 27", description: "Covers bootdisk API/CLI, Hammer performance improvements, FreeIPA installer and auth integration, LDAP group support, dashboard widgets, database length validation and dashboard chart fixes." },
{ id: "Dud1QOHxc_4", title: "Sprint 26", description: "Covers Puppet directory environments support, configuration of ENC/report processors, cloning &amp; read only templates and VMware hardware version support." },
{ id: "KcUQmphdMYg", title: "Sprint 25", description: "Covers management of roles, filters and user groups in Hammer and changes to the GUI regarding required input fields and default values of selectors." },
{ id: "723hOFocd8o", title: "Sprint 23", description: "Covers changes to initial admin account, updates to foreman_chef with smart proxy associations, a new dashboard with drag-and-drop widgets, community templates changes, SELinux policies for plugins and 'fvb' script for launching new virtual machines." },
{ id: "XliDyFFi-SI", title: "Sprint 22", description: "Covers discovery 0.5 images, a new API for the discovery plugin, localization of CLI, search by name and listing associated names in CLI, localization of API, staypuft-installer for OpenStack, realm and FreeIPA integration, config groups and compute resources (Docker) as a plugin." },
{ id: "w5asB2vhwyM", title: "Sprint 21", description: "Covers admin account changes, LDAP avatar support, installer unification, libvirt host group snapshots, Hammer collections output, host groups, root passwords, timeouts, localisation, configuration and logging changes, default location/org for users in Foreman, LDAP user groups, live CD for Foreman and discovery, EL6 discovery image, foreman-tail and a configuration groups UI." },
{ id: "1nuwLRirGB0", title: "Sprint 20", description: "Covers Kafo usability, Jenkins discovery image building, host/Puppet registration, Hammer i18n, persistent history and dynamic API bindings, plugin and compute resource in the installer, inherited locations and organizations, config groups for puppet classes, OpenStack volume and block device mapping, oVirt and libvirt imaging support, and Docker compute resources." },
{ id: "L_WwMk612wI", title: "Sprint 18", description: "Covers user-data support, branding changes, discovery MAC changes, Puppet future parser, foreman-bats, UI improvements, new permissions system update, compute profiles, org/loc inheritance, dynamic API bindings and Hammer integration, testing community templates and Discovery boot improvements." },
{ id: "aCs-QCQopU0", title: "Sprint 17", description: "Covers 'hammer shell' improvements, MCollective command execution, host/system review, new APIv2 enhancements, DB seeding, Puppet run via SaltStack, OpenStack images from host groups, Kafo PR testing, user group and role changes, libvirt/virsh DNS/DHCP providers, new VM AJAX feature." },
{ id: "b7Bzl0yYgvA", title: "Sprint 16", description: "Covers plugin CI, oVirt node foreman_discovery plugin, template URL fixes, IP address validation, nested fact support, Hammer CLI host creation, Hammer development howto, Katello as a plugin update, APIv2 conventions and changes, MCollective plugin update, Hammer puppet class import and parameter support." },
{ id: "6B4F563l-E0", title: "Sprint 15", description: "Covers two pane UI, new provisioning template editor, Hammer CLI adapters and CSV output, Chef integration status, a test framework for plugins, Google Compute Engine support and the foreman-background plugin." }
];

createVideosLayout('Community demos', 'div#demos', community_demos);
</script>
{% include videos.html %}
{% include footer.html %}
