{% include header.html %}

<body>
  <div id="main">
    <div id="content" class="container">
      <p>
        <a class="fancybox" href="static/images/screenshots/dashboard.png" data-fancybox-group="gallery" title="The Foreman landing page and dashboard"><img src="static/images/screenshots/dashboard.png" /></a>
        <a class="fancybox" href="static/images/screenshots/host_listing.png" data-fancybox-group="gallery" title="The host listing page"><img src="static/images/screenshots/dashboard.png" /></a>
        <a class="fancybox" href="static/images/screenshots/hostpage.png" data-fancybox-group="gallery" title="The individual host page"><img src="static/images/screenshots/hostpage.png" /></a>
        <a class="fancybox" href="static/images/screenshots/hosteditpage.png" data-fancybox-group="gallery" title="Host edit page"><img src="static/images/screenshots/hosteditpage.png" /></a>
        <a class="fancybox" href="static/images/screenshots/reportview.png" data-fancybox-group="gallery" title="The report viewer page"><img src="static/images/screenshots/reportview.png" /></a>
      </p>
    </div>
  </div>
</body>

{% include footer.html %}
