---
pagename: Screenshots & Videos
---
{% include header.html %}

<div id="main">
  <div id="content" class="container">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" data-tabs="tabs" id="tabs">
        <li class="active"><a href="#screenshots" data-toggle="tab">Screenshots</a></li>
        <li><a href="#talks" data-toggle="tab">Talks</a></li>
        <li><a href="#screencasts" data-toggle="tab">Screencasts</a></li>
        <li><a href="#deepdives" data-toggle="tab">Deep Dives</a></li>
        <li><a href="#presentations" data-toggle="tab">Presentations</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="screenshots">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item">
		  <img src="{{ site.baseurl }}static/images/screenshots/dashboard.png" alt="">
                    <div class="carousel-caption">
                        <h4>The Foreman landing page and dashboard</h4>
                        <p>An instant view into the overall health of your hosts, including a sweeping overview of changes, run distribution, and quickly find hosts using search.</p>
                    </div>
                </div>
                <div class="item">
		  <img src="{{ site.baseurl }}static/images/screenshots/host_listing.png" alt="">
                    <div class="carousel-caption">
                        <h4>The host listing page</h4>
                        <p>Get a quick overview of your hosts, including their hostname, operating system, and most recent Puppet run.</p>
                    </div>
                </div>
                <div class="item">
		  <img src="{{ site.baseurl }}static/images/screenshots/hosteditpage.png" alt="">
                    <div class="carousel-caption">
                        <h4>Host edit page</h4>
                        <p>Manage the network, operating system, parameters, and other vital information relevant to a specific host.</p>
                    </div>
                </div>
                <div class="item">
		  <img src="{{ site.baseurl }}static/images/screenshots/reportview.png" alt="">
                    <div class="carousel-caption">
                        <h4>The report viewer page</h4>
                        <p>See the exact changes that took place as part of the most recent Puppet agent run on a specific host and view metrics about that run.</p>
                    </div>
                </div>
                <div class="item active">
		  <img src="{{ site.baseurl }}static/images/screenshots/hostpage.png" alt="">
                    <div class="carousel-caption">
                        <h4>The individual host page</h4>
                        <p>View the status of a single host, including information about the machine, run time, and access to the console for direct access to the host.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        <div class="tab-pane" id="talks">
          <h3>Puppet Camp Ghent 2013 - Ohad Levy</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/uGevzbQ469w" frameborder="0" allowfullscreen></iframe>
          <h3>Puppet Conf 2012 - Ohad Levy</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/AeVVezzZ-4w" frameborder="0" allowfullscreen></iframe>
          <h3>Puppet NYC 2013 - Sam Kottler</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/o5BjZodH9Fo" frameborder="0" allowfullscreen></iframe>
          <h3>Hardware Discovery - Greg Sutcliffe</h3>
          <video width="420" height="315" src="http://video.fosdem.org/2013/lightningtalks/Managing_your_metal_flexibly.webm" controls></video>
        </div>

        <div class="tab-pane" id="screencasts">
          <h3>Quickstart Installation - Dominic Cleal</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/2dwyzPpFJYQ" frameborder="0" allowfullscreen></iframe>
          <h3>Quickstart Provisioning - Dominic Cleal</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/eHjpZr3GB6s" frameborder="0" allowfullscreen></iframe>
          <h3>Locations and Organizations - Sam Kottler</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/aB0Ek-aKmZw" frameborder="0" allowfullscreen></iframe>
          <h3>Parameterized Classes - Greg Sutcliffe</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/Ksr0tilbmcc" frameborder="0" allowfullscreen></iframe>
          <h3>Provisioning a web-server - Romain Vrignaud </h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/FYsHZbCQzH8" frameborder="0" allowfullscreen></iframe>
          <h3>OpenStack integration - Dizz</h3>
          <iframe width="420" height="315" link="http://www.youtube.com/embed/DhghHJ_9h1U" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="tab-pane" id="deepdives">
          <h2>Deep Dives</h2>
          <p>The Foreman team tries to hold regular "deep dive" sessions in which a single aspect of the project is examined and discussed in depth. We try to record these sessions so anybody in the community can benefit from them. You'll find upcoming topics on the <a href="http://projects.theforeman.org/projects/foreman/wiki/Upcoming_Deep_Dives">Upcoming Deep Dives</a> wiki page.</p>

          <h3>Packaging and Software Collections</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/z2gUH_HmvWM" frameborder="0" allowfullscreen></iframe>
          <h3>Discovery plugin demo</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/_9UrBLhsoEA" frameborder="0" allowfullscreen></iframe>
          <h3>Internationalization (i18n) and gettext</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/azZOg_ywjTE" frameborder="0" allowfullscreen></iframe>
          <h3>Development environments</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/5C2VrnZTU4s" frameborder="0" allowfullscreen></iframe>
          <h3>Fog and compute resources</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/JgaQ_ekR2JA" frameborder="0" allowfullscreen></iframe>
          <h3>Introduction to Scrum</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/0ZlPJE2ocKo" frameborder="0" allowfullscreen></iframe>
          <h3>Apipie: API documentation</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/u5-u_75i1cM" frameborder="0" allowfullscreen></iframe>
          <h3>Testing Foreman</h3>
          <p>Covers unit, functional, integration, Capybara integration tests, proxy tests and <a href="http://ci.theforeman.org">Jenkins</a>.</p>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/7VU1A-yn54E" frameborder="0" allowfullscreen></iframe>
          <h3>Pull requests: Trello and Jenkins</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/mKWw349rQwE" frameborder="0" allowfullscreen></iframe>
          <h3>Project infrastructure discussion</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/HQhlCiyv8Uw" frameborder="0" allowfullscreen></iframe>
          <h3>MCollective and Puppet 3 data bindings</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/yO2quNzmvuY" frameborder="0" allowfullscreen></iframe>
          <h3>Organizations and Locations implementation</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/g5hvddwT1os" frameborder="0" allowfullscreen></iframe>
          <h3>Parameterized Class support</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/dlgv_4rr4Ws" frameborder="0" allowfullscreen></iframe>
          <h3>Jenkins and Packaging</h3>
          <iframe width="560" height="315" link="http://www.youtube.com/embed/CmKoEHCYROQ" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="tab-pane" id="presentations">
          <iframe width="550" height="400" link="http://prezi.com/embed/btaqhly8_rx7/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0" frameBorder="0"></iframe>
          <br>
          <iframe width="550" height="400" link="http://prezi.com/embed/tvbxtcszhus1/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0" frameBorder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// AJAX load Iframe
$(function() {
    $('#tabs').bind('show', function(e) {
      $('iframe').attr('src', '');
      var contentID = e.target.toString().match(/#.+/gi)[0]; //get anchor
      var content = $(contentID + ' iframe')
       //load content for selected tab
      if(contentID == "#talks" || contentID == '#screencasts' || contentID == '#deepdives' || contentID == "#presentations"){
        content.each(function(i){$(this).attr('src', $(this).attr('link'))});
      }
    });
  var activeTab = $('[href=' + location.hash + ']');
  activeTab && activeTab.tab('show');
});
</script>

{% include footer.html %}
