{% include header.html %}
<div class="container-fluid container-body">
  <div class="col-md-8 col-md-offset-2 col-centered">
    <section>
      <div class="post-header">
        {% if page.pagename != nil %}
        <h2>{{ page.pagename }}</h2>
        {% else %}
        <h2>{{ page.title }}</h2>
        {% endif %}
        <p class="metadata">
          <span class="author">{{ page.author }}</span> - <span class="date">{{ page.date | date: "%-d %B %Y" }}</span>
          {% if page.guest_post %}
          <span class="foreman-blue-infobox pull-right">Guest Post</span>&nbsp;
          {% endif %}
        </p>
      </div>

      <hr/>

      <div class="post-content">
        {% if page.guest_url %}
        <p><em>This is an authorized repost of <a href="{{ page.guest_url }}">{{ page.guest_url }}</a></em></p>
        {% endif %}
        {{ content }}
      </div>

      <div class="well post-content">
        We also have a <a href='https://community.theforeman.org'>forum</a> which you can join for updates &amp; discussion.
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <a href="javascript: history.go(-1)" class="btn btn-foreman-blue"><span aria-hidden="true">&larr;</span> Return</a>
        </div>
      </div>

      <hr/>
    </section>
  </div>
</div>
{% include footer.html %}
