---
pagename: Quickstart
latestversion: "1.17"
---
{% include header.html %}
<div id="wrap">
	<div class="container">
		<div class="row">
			{% capture versionmaj %}{{ page.version | split: "." | first | times: 100 }}{% endcapture %}
			{% capture versioni %}{{ page.version | split: "." | last | plus: versionmaj }}{% endcapture %}
			{% capture latestmaj %}{{ layout.latestversion | split: "." | first | times: 100 }}{% endcapture %}
			{% capture latesti %}{{ layout.latestversion | split: "." | last | plus: latestmaj }}{% endcapture %}
			{% if versioni < latesti %}
			<div class="alert alert-warning" style="margin-top:5px">
				<p style="margin-bottom: 3px"><strong>Newer version available</strong></p>
				<p style="margin-bottom: 0">This quickstart guide is for Foreman {{ page.version }}, but the <a href="{{ site.baseurl }}manuals/{{ layout.latestversion }}/index.html">latest version is {{ layout.latestversion }}</a>.</p>
			</div>
			{% endif %}
			{% if versioni > latesti %}
			<div class="alert alert-warning" style="margin-top:5px">
				<p style="margin-bottom: 3px"><strong>Not yet released</strong></p>
				<p style="margin-bottom: 0">This quickstart guide is for Foreman {{ page.version }}, but <a href="{{ site.baseurl }}manuals/{{ layout.latestversion }}/index.html">{{ layout.latestversion }}</a> is the current stable version.</p>
			</div>
			{% endif %}
			<div id="doc" class="col-md-12">
				{{ content }}
			</div>
		</div>
	</div>
</div>
{% include footer.html %}
