---
pagename: Foreman Events
layout: event_index
---
{% assign events = site.data.events | filter_old_events %}
{% for event in events %}
<div class="blog-item post-content" id="{{ event.title | slugify }}">
  <a href="/events/#{{ event.title | slugify }}">
    <h3>{{ event.title }}
      <span class="foreman-blue-infobox pull-right">{{ event.type | captitalize }}</span>
    </h3>
  </a>
  <p class="metadata">
  <span class='location'>
    {% if event.location == 'virtual' %}
    Virtual Event
    {% else %}
    <a href="https://maps.google.com/maps?q={{event.location}}">{{event.location}}</a>
    {% endif %}
    {% if event.speaker %}
    - {{ event.speaker }}
    {% endif %}
  </span>

  <span class="date pull-right">
    {% assign date = event.start | format_event_date: event.end %}
    {% if event.url %}
    <a href='{{ event.url }}'>{{ date }}</a>
    {% else %}
    {{ date }}
    {% endif %}
  </span>
  </p>

  <div class="post-content">
    {{ event.description }}
  </div>
</div>
{% endfor %}

<script>
{% include calendar.js %}
</script>
